/* src/index.css or src/App.css */

/* Tailwind Base Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Reset */


/* Global Reset */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

html {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

/* Custom background for landing page */
.bg-custom {
  background-image: url('../public/405.png');
  background-size: cover;
  background-position: center;
}

.bg-error {
  background-image: url('../public/404_bg.png');
  background-size: cover;
  background-position: center;
}

